name: Count solved problems

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  count:
    name: Count solved problems
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GITHUB_REPO_URL: "https://github.com/${{ github.repository }}/blob/main"
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Set up environment
        run: chmod +x .github/scripts/*.sh  # Cấp quyền chạy script

      - name: Get solved count from LeetCode API
        run: .github/scripts/get_solved_count.sh

      - name: Generate README
        run: .github/scripts/generate_readme.sh

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update README with solved problems
          commit_author: GitHub <41898282+github-actions[bot]@users.noreply.github.com>
          branch: ${{ github.ref_name }}
